<div class="full-height">
    <sokratik-dialogue presentation="presentation" index="{{$index}}" presentation-id="{{presentationId}}"
                       class="zoom-in"
                       add-fragment="addFragment(fragment)" ng-click="next()"/>
</div>
<button class="btn btn-light no-border button-top-left-1" ng-show="recording && page < totalPages -1"
        ng-click="nextSlide()"><i class="fa fa-step-forward fa-3x"></i></button>

<button class="btn btn-light no-border button-top-left-2" ng-show="recording" ng-click="redoSlide()"><i
        class="fa fa-undo fa-3x"></i></button>
<button class="btn btn-light no-border button-app" ng-click="recordYTAction()" ng-show="videoPresent">
    <i class="fa fa-youtube-square fa-4x">Play Video</i>
</button>
<div ng-show="recording" class="control-bar-left">
</div>
