<div class="full-sized" ng-class="{'walkthrough-active': walkThroughStage===2}" style="position:absolute">
    <div class="walkthrough-tip-container below" style="top:10%">
                <span class="tip-text" style="margin-right:-400px;top:120px">
                    Whatever you say now will be recorded. Say "Hello world" or "World peace"
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                    <a  class="walkthrough-nav walkthrough-nav-next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
    </div>
</div>
<div class="full-sized" ng-class="{'walkthrough-active': walkThroughStage===3}" style="position:absolute">
    <div class="walkthrough-tip-container below" style="top:20%">
            <span class="tip-text" style="margin-right:-400px;top:120px">
                Click or touch anywhere on the screen to reveal the hidden elements one by one. <br/>Sync your voice with elements. Try it now!
                <a class="walkthrough-nav walkthrough-nav-close">
                    <i class="fa fa-times-circle"></i>
                </a>
                <a  class="walkthrough-nav walkthrough-nav-next">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </span>
    </div>
</div>
<div class="toolbar toolbar-center">
    <div ng-hide="recording || videoPlaying">
        <div class="color-red" ng-class="{'walkthrough-active': walkThroughStage===1 && !recording}">
            <div class="walkthrough-tip-container above">
                <div class="my-pointer">
                </div>
                <span class="tip-text">
                    Press here to record current slide
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                </span>
            </div>
            <a ng-click="record()" class="btn-pop-out btn-square">
                <div class="toolbar-icon"><i class="fa fa-microphone fa-5x"></i></div>
                <div class="center-tip">Record 
                    <div style="font-size:small" ng-show="videoPresent">This slide has a video</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="toolbar toolbar-left">
    <div ng-show="recording || !recording">
        <div class="color-red" ng-class="{'walkthrough-active': walkThroughStage===4 && !recording}">
            <div class="walkthrough-tip-container right">
                <div class="my-pointer">
                </div>
                <span class="tip-text">
                    Pause recording by clicking here
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                    <a  class="walkthrough-nav walkthrough-nav-next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
            </div>
            <a ng-click="pause()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-pause"></i></div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-green" ng-show="videoPresent || !recording" ng-class="{'walkthrough-active': walkThroughStage===5 && !recording}">
            <div class="walkthrough-tip-container right">
                <div class="my-pointer">
                </div>
                <span class="tip-text">
                    Click here to play video embedded in this slide
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                    <a  class="walkthrough-nav walkthrough-nav-next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
            </div>
            <a ng-click="recordYTAction()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-youtube-play"></i></div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-blue" ng-show="(recording && !drawing) || !recording" ng-class="{'walkthrough-active': walkThroughStage===7 && !recording}">
            <div class="walkthrough-tip-container right">
                <div class="my-pointer">
                </div>
                <span class="tip-text">
                    Pro tip! Write on the screen using the pen
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                    <a  class="walkthrough-nav walkthrough-nav-next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
            </div>
            <a ng-click="enableCanvas(true)" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-blue" ng-show="recording && drawing">
            <a ng-click="enableCanvas(false)" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-external-link-square"></i>          <!--TODO Change to mouse icon-->
                </div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-yellow" ng-show="recording || !recording" ng-class="{'walkthrough-active': walkThroughStage===6 && !recording}">
            <div class="walkthrough-tip-container right">
                <div class="my-pointer">
                </div>
                <span class="tip-text">
                    Pro tip! If you want to make changes and record the slide again, use the redo button. <br/>
                    You will be able to record the current slide again.
                    <a class="walkthrough-nav walkthrough-nav-close">
                        <i class="fa fa-times-circle"></i>
                    </a>
                    <a  class="walkthrough-nav walkthrough-nav-next">
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </span>
            </div>
            <a ng-click="redoSlide()" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-undo"></i>
                </div>
                <span class="tip"></span>
            </a>
        </div>
    </div>
</div>

<div class="toolbar toolbar-right" ng-class="{'walkthrough-active': walkThroughStage===9 && !recording}">
    <div class="walkthrough-tip-container left">
        <div class="my-pointer">
        </div>
            <span class="tip-text">
                When all slides are recorded, click on done! Your video will be created
                <a class="walkthrough-nav walkthrough-nav-close">
                    <i class="fa fa-times-circle"></i>
                </a>
                <a  class="walkthrough-nav walkthrough-nav-next">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </span>
    </div>
    <div class="color-red">
        <a ng-click="complete()" class="btn-pop-out">
            <div class="toolbar-icon"><i class="fa fa-check-square"></i></div>
            <span class="tip">Done!</span>
        </a>
    </div>
</div>

<div class="navigation-button btn-fill-right" ng-class="{'walkthrough-active': walkThroughStage===8 && !recording}">
    <div class="walkthrough-tip-container left">
        <div class="my-pointer">
        </div>
            <span class="tip-text">
                Once the current slide is recorded, go to the next slide
                <a class="walkthrough-nav walkthrough-nav-close">
                    <i class="fa fa-times-circle"></i>
                </a>
            </span>
    </div>
    <a class="nav-link" ng-show="recording && page < totalPages -1" ng-click="nextSlide()">
        <i class="fa fa-long-arrow-right"></i>
    </a>
</div>

<div class="pause-cover" ng-hide="recording">
</div>

<div class="full-height" ng-class="{'crosshair':drawing}">
    <sokratik-dialogue presentation="presentation" index="{{$index}}" presentation-id="{{presentationId}}"
                       class="zoom-in"
                       add-fragment="addFragment(fragment)" make-visible="next" record-action="recordAction"/>
</div>