<div class="alert">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-click="closeAlert($index)">{{alert.msg}}</alert>
</div>


<div class="toolbar toolbar-center" id="record-button">
    <div id="tooltip-proxy-2">
    </div>
    <div id="tooltip-proxy-3">
    </div>
    <div ng-hide="recording || videoPlaying">
        <div class="color-red">
            <a ng-click="record()" class="btn-pop-out btn-square">
                <div class="toolbar-icon"><i class="fa fa-microphone fa-5x"></i></div>
                <div class="center-tip">Record
                    <div style="font-size:small" ng-show="videoPresent">This slide has a video</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="toolbar toolbar-left">
    <div>
        <div class="color-red" id="pause-recording">
            <a ng-click="pause()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-pause"></i></div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-green" ng-show="videoPresent || !recording" id="playVideo">
            <a ng-click="recordYTAction()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-youtube-play"></i></div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-blue" ng-show="(recording && !drawing) || !recording" id="annotation">
            <a ng-click="enableCanvas(true)" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-pencil"></i>
                </div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-blue" ng-show="recording && drawing">
            <a ng-click="enableCanvas(false)" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-external-link-square"></i> <!--TODO Change to mouse icon-->
                </div>
                <span class="tip"></span>
            </a>
        </div>
        <div class="color-yellow" ng-show="recording || !recording" id="redo">
            <a ng-click="redoSlide()" class="btn-pop-out">
                <div class="toolbar-icon">
                    <i class="fa fa-undo"></i>
                </div>
                <span class="tip"></span>
            </a>
        </div>
    </div>
</div>

<div class="toolbar toolbar-right" id="done">
    <div class="color-red">
        <a ng-click="complete()" class="btn-pop-out">
            <div class="toolbar-icon"><i class="fa fa-check-square"></i></div>
            <span class="tip">Done!</span>
        </a>
    </div>
</div>

<div class="navigation-button btn-fill-right" id="nextSlide">
    <a class="nav-link" ng-show="recording && page < totalPages -1" ng-click="nextSlide()">
        <i class="fa fa-long-arrow-right"></i>
    </a>
</div>

<!--
<div class="tip-container">
    <a class="tip-text" ng-click="prevTip()">
        <i class="fa fa-arrow-circle-left"></i> Last tip
    </a>
    <a class="tip-text flashing" ng-click="nextTip()">
        Next tip <i class="fa fa-arrow-circle-right"></i></div>
    </a>
</div>
-->

<div class="pause-cover" ng-hide="recording">
</div>

<div class="full-height" ng-class="{'crosshair':drawing}">
    <sokratik-dialogue presentation="presentation" index="{{$index}}" presentation-id="{{presentationId}}"
                       class="zoom-in"
                       add-fragment="addFragment(fragment)" make-visible="next" record-action="recordAction"/>
</div>