@import "../../less/mixins";

.blink-animation{
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.presentation {
  .toolbar .toolbar-icon.blink-me {
    width: auto;
    background-color: #ecf0f1;
    .blink-animation;
  }

  .record {
    .btn-pop-out, .toolbar, .navigation-button {
      z-index: 4;
    }
    .walkthrough-tip-container{
      .tip-text{
      }
    }
    .toolbar-left{
      .btn-pop-out{
        &:hover{
            width: @left-toolbar-width;
          }
        }
      }
      .btn-pop-out{
        &.btn-square{
          width: auto;
        }
      }
    .pause-cover{
      position: absolute;
      left: 0px;
      top:0px;
      width: 100%;
      height:100%;
      background-color: rgba(0,0,0,0.6);
    }
  }
}

.crosshair{
  cursor: crosshair;
}

@keyframes blinker{
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@-moz-keyframes blinker{
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@-webkit-keyframes blinker{
  0% {opacity: 1.0;}
  50% {opacity: 0.0;}
  100% {opacity: 1.0;}
}
