<!--
this is the place holder for all the templates which are being played
-->
<div class="full-height">
    <div ui-view="workspace" class="workspace full-height"/>
</div>
<div class="control-bar">
    <button class="btn btn-primary" ng-click="complete()" ng-show="recording">Complete</button><br/>
    <button class="btn btn-primary" ng-click="record()" ng-hide="recording">Record Audio</button><br/>
    <button class="btn btn-primary" ng-click="pause()" ng-show="recording">Pause Recording</button><br/>
</div>