<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            Enter the url of the {{mediaType}} you want to replace
        </div>
        <div class="modal-body">

            <input type="text" ng-model="selectedMedia" maxlength="255" width="200"
                   ng-blur="blur(selectedMedia)"/>

            <div ng-if="YT">

                <iframe id="player" type="text/html" width="{{width}}" height="{{height}}"
                        ng-src="{{ytURL}}"
                        frameborder="0"></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="ok()">Ok</button>
        </div>
    </div>
</div>

