<div>
    <h3>
        <sokratik-fragment type="text" model="videoTextTitle"></sokratik-fragment>
    </h3>
</div>
<div>
    <sokratik-fragment type="text" model="videoTextLine1"></sokratik-fragment>
</div>
<div>
    <sokratik-fragment type="text" model="videoTextLine2"></sokratik-fragment>
</div>
<div>
    <sokratik-fragment type="text" model="videoTextLine3"></sokratik-fragment>
</div>
<div>
    <sokratik-fragment type="text" model="videoTextLine4"></sokratik-fragment>
</div>
<div class="mediaHolder">
    <div>
        <sokratik-media type="YT" model="video" ng-click="open()">
        </sokratik-media>
    </div>
</div>


