<h3>
    <sokratik-fragment type="text" model="title" default="Default title"></sokratik-fragment>
</h3>
<div class="blackBoard">
    <p>
        <sokratik-fragment type="text" model="textOnlyLine1" default="Default example"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine2" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine3" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine4" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine5" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine6" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine7" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine8" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine9" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine10" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine11" default="Default line"></sokratik-fragment>
    </p>
    <p>
        <sokratik-fragment type="text" model="textOnlyLine12" default="Default line"></sokratik-fragment>
    </p>
</div>