<div class="slide full-sized">
        <h2>
            <div>
                <sokratik-fragment type="text" model="title" default=""
                                   placeholder="Click to edit title"></sokratik-fragment>
            </div>
        </h2>
        <div class="full-text">
            <div class="vertical-center full-sized">
                <div class="full-width">
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text1" default=""
                                           placeholder="Click to edit line 1"></sokratik-fragment>
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text2" default=""
                                           placeholder="Click to edit line 2"></sokratik-fragment>
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text3" default=""
                                           placeholder="Click to edit line 3"></sokratik-fragment>
                    </span><br/><br/>
                </span>
                </div>
            </div>
        </div>
</div>
