<div class="slide main-container full-height">
    <div class="simple align-center full-height">
        <h2>
            <div>
                <sokratik-fragment type="text" model="title" default="" placeholder="Click to edit title"></sokratik-fragment>
            </div>
        </h2>
        <div class="full-text">
            <div class="internal">
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text1" default="" placeholder="Click to edit line 1"></sokratik-fragment>
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text2" default="" placeholder="Click to edit line 2"></sokratik-fragment>
                    </span><br/><br/>
                </span>
                <span>
                    <span>
                        <sokratik-fragment type="text" model="text3" default="" placeholder="Click to edit line 3"></sokratik-fragment>
                    </span><br/><br/>
                </span>
            </div>
        </div>
    </div>
</div>
