<div class="slide full-sized">
        <h2>
            <div>
                <sokratik-fragment type="text" model="title" default=""
                                   placeholder="Click to edit title"></sokratik-fragment>
            </div>
        </h2>
        <div class="row-fluid slide-image-fragment">
            <div class="col-xs-12 full-height">
                <div class="full-height">
                    <sokratik-fragment type="image" caption="" model="image1" default="" caption="">
                    </sokratik-fragment>

                </div>
            </div>
        </div>
        <div class="text-fragment-holder">
                <sokratik-fragment type="text" model="text1" default=""
                                   placeholder="Click to edit line 1"></sokratik-fragment>
            </div>
            <p></p>

            <div>
                <sokratik-fragment type="text" model="text2" default=""
                                   placeholder="Click to edit line 2"></sokratik-fragment>
            </div>
            <p></p>

            <div>
                <sokratik-fragment type="text" model="text3" default=""
                                   placeholder="Click to edit line 3"></sokratik-fragment>
            </div>
            <p></p>
        </div>
</div>