<div class="slide main-container">
    <div class="simple align-center full-height">
        <h2>
            <div>
                <sokratik-fragment type="text" model="title" default="" placeholder="Click to edit title"></sokratik-fragment>
            </div>
        </h2>
        <div class="row-fluid part-image">
            <div class="col-xs-4 full-height">
                <div class="full-height">
                    <sokratik-fragment type="image" model="image1"
                                       default="">
                    </sokratik-fragment>
                </div>
            </div>
            <div class="col-xs-4 full-height">
                <div class="full-height">
                    <sokratik-fragment type="image" model="image2"
                                       default="">
                    </sokratik-fragment>
                </div>
            </div>
            <div class="col-xs-4 full-height">
                <div class="full-height">
                    <sokratik-fragment type="image" model="image3"
                                       default="">
                    </sokratik-fragment>
                </div>
            </div>
        </div>
        <div class="part-text">
            <div>
                <sokratik-fragment type="text" model="text1" default="" placeholder="Click to edit line 1"></sokratik-fragment>
            </div>
            <p></p>
            <div>
                <sokratik-fragment type="text" model="text2" default="" placeholder="Click to edit line 2"></sokratik-fragment>
            </div>
            <p></p>
            <div>
                <sokratik-fragment type="text" model="text3" default="" placeholder="Click to edit line 3"></sokratik-fragment>
            </div>
            <p></p>
        </div>
    </div>
</div>
