<div class="slide full-sized full-background">
                <div class="full-height slide-image-fragment">
                    <sokratik-fragment type="image" model="image1"
                                       default="">
                    </sokratik-fragment>
                </div>
        <div class="text-fragment-holder">
            <div>
                <sokratik-fragment type="text" model="text1" default=""
                                   placeholder="Click to edit line 1"></sokratik-fragment>
            </div>
        </div>
</div>
