@import "variables";
@import "mixins";

.full-sized {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.invisible {
  visibility: hidden;
}

body.presentation {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
  background: @presentation-background;
  color: @body-text-color;
  font-weight: lighter;
  overflow: hidden;
  font-size: @body-font-size;
  height: 100%;
}

.presentation {

  .parent-height {
    height: inherit;
    width: inherit;
  }

  .presentation-text() {
    line-height: @regularLineHeight;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Bree Serif', Georgia, serif;
      line-height: @headingLineHeight;
      color: @h1-font-color;
      margin: 0px;
      font-weight: lighter;
    }
    h1 {
      font-size: @h1-font-size;
    }
    h2 {
      font-size: @h2-font-size;
    }
    h3 {
      font-size: @h3-font-size;
    }
    h4 {
      font-size: @h4-font-size;
    }
    p {
      margin: @simple-margin 0;
    }
  }

  .slide {
    .full-sized;
    .sokratikPadding(@sm-margin,@lg-margin);
    .presentation-text;
    text-align: center;
    height: 100%;
  }

  .vertical-center {
    .box-position;
  }

  .fix-to-bottom {
    position: absolute;
    bottom: 0px;
  }

  .full-height {
    height: 100%;
  }

  .slide-image-fragment {
    margin-top: 0.5em;
    display: inline-block;
    .height-calc(100%, 7.7, 1, 50%);
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 97%;
      height: 100%; //TODO make this a @media
    }
    .caption-holder {
      .fix-to-bottom;
      left: 50%;
      .caption {
        font-size: 18px;
        position: relative;
        left: -50%;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: #FFF;
      }
      width: 97.5%;
      input {
        background-color: transparent;
      }
    }
    width: 95%;
  }

  .text-fragment-holder {
    margin-top: 0.5em;
  }

  .full-text {
    .height-calc(100%, 3.1, 0, 80%);
  }

  .nav-button {
    top: 50%;
    margin-top: -100px;
    height: 200px;
    width: 80px;
    border: none;
    position: absolute;
    text-shadow: none !important;

    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 1) 50%, rgba(255, 255, 255, 0) 100%) !important; /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(231, 231, 231, 1)), color-stop(100%, rgba(255, 255, 255, 0))) !important; /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 1) 50%, rgba(255, 255, 255, 0) 100%) !important; /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 1) 50%, rgba(255, 255, 255, 0) 100%) !important; /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 1) 50%, rgba(255, 255, 255, 0) 100%) !important; /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(231, 231, 231, 1) 50%, rgba(255, 255, 255, 0) 100%) !important; /* W3C */

    &:active {
      top: 50% !important;
    }
  }

  .nav-button-left {
    left: 0px;
  }

  .nav-button-right {
    right: 0px;
    &:active {
      left: inherit !important;
      right: 1px;
    }
  }

  h1, .subtitle {
    textarea {
      height: @headingLineHeight !important; //TODO hack to prevent angular-elastic error
      z-index: @walkthrough-backdrop-depth - 3;
    }
  }

  .fragment > input[type="textarea"], .fragment > input[type="text"], .fragment > textarea {
    width: 95%;
    max-width: 95%;
    padding: 0px !important;
    margin: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: @input-color-placeholder;
    font: inherit;
    color: inherit;
    text-align: inherit;
    height: @headingLineHeight;
    background-color: inherit;
    &:focus, &:hover, &:active {
      border-top: none;
      border-left: none;
      border-right: none;
      padding: 0px !important;
      margin: 2px;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity ease 0.15s;
      -webkit-transition: opacity ease 0.15s;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity ease 0.15s;
      -webkit-transition: opacity ease 0.15s;
    }
  }

  ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    text-align: left;
    padding-bottom: 0px !important;
    vertical-align: baseline;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }
  .btn-close {
    position: absolute;
    right: -23px; //TODO replace with equation linked to FA font size
    top: -19px;
    background: none;
    border: none;
    z-index: @walkthrough-backdrop-depth - 2;
  }
  .full-background {
    .slide-image-fragment {
      .width-calc(100%, 0.0001, unit(-2*@sm-margin), 102%);
      margin-left: -@sm-margin;
      @media (min-width: @screen-sm) {
        .width-calc(100%, 0.0001, unit(-2*@lg-margin), 102%);
        margin-left: -@lg-margin;
      }
      height: 100%;
      img {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        animation: animatedFadeIn 0.3s ease-in 0s 1 normal forwards;
        -webkit-animation: animatedFadeIn 0.3s ease-in 0s 1 normal forwards;
      }
    }
    .caption-holder{
      width: 100%;
      .caption{
        font-size:24px;
      }
    }
    &.full-background-animated.full-background-animated-down {
      img {
        //For story telling
        height: initial;
        animation: animatedFullImage 63s ease-in 3s 1 normal forwards;
        -webkit-animation: animatedFullImage 63s ease-in 3s 1 normal forwards;
      }
    }
  }
}

.presentation {
  .toolbar {
    position: absolute;
    top: 2px;
    width: @left-toolbar-width;
    z-index: 1;
    a {
      color: #FFF;
    }
    .toolbar-icon {
      width: @left-toolbar-width - 20px;
      text-align: center;
    }
    .tip {
      position: absolute;
      top: 20px;
      font-size: 14px;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: bold;
    }
    .color-red, .color-blue, .color-green, .color-gray, .color-yellow {
      background-color: inherit;
    }
    .btn-pop-out {
      padding: 4px 10px;
      width: @left-toolbar-width;
      margin: 0px 0px -8px 0px;
      overflow-x: hidden;
      &:hover {
        width: @left-toolbar-tooltip-width;
        transition: width ease 0.5s;
        -webkit-transition: width ease 0.5s;
      }
    }
    &.toolbar-left {
      left: 2px;
      .tip {
        left: @left-toolbar-width + 10px;
      }
    }
    &.toolbar-right {
      right: 2px;
      .tip {
        right: @left-toolbar-width + 10px;
      }
      .btn-pop-out, .toolbar-icon {
        float: right;
      }
    }
    &.toolbar-center {
      left: 50%;
      top: 50%;
      width: auto;
      margin-left: -90px;
      margin-top: -90px;
      z-index:10 !important;
      a {
        text-decoration: none;
      }
      .toolbar-icon {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      .center-tip {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 28px;
        text-align: center;
      }
    }
  }
  .navigation-button {
    position: absolute;
    top: 300px;
    &.btn-fill-left {
      left: 2px;
      a.nav-link{
        &:after{
          right:0px;
        }
      }
    }
    &.btn-fill-right {
      right: 2px;
      a.nav-link{
        &:after{
          left:0px;
        }
      }
    }
    a.nav-link{
      .btn-fill;
      i{
        position: relative;
        z-index: 3;
        margin-left:12px;
      }
      height: @left-toolbar-width;
      width: @left-toolbar-width;
    }
  }
}

.image-close.btn-close {
  display: none;
  top: @headingLineHeight+1.7em;
  &.image-close-1, &.image-close-2, &.image-close-3, &.image-close-4 {
    display: block;
    right: auto;
    .left-calc(100%, 0.0001, unit(@lg-margin)+80, 85%);
  }
  button{
    background-color: #333;
    color: #FFF;
    border:none;
  }
}

.padding-bar {
  z-index: -1;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  * {
    background-color: #aab7b7;
    width: @left-toolbar-width+4px;
    height: 100%;
  }
  .padding-bar-left {
    float: left;
  }
  .padding-bar-right {
    float: right;
  }
  .clearfix;
}

.alert{
  font-size:0.75em;
}

@keyframes animatedFullImage {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-80%);
  }
  //TODO replace with -100% + screenhight calc
}

@-webkit-keyframes animatedFullImage {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-80%);
  }
}

@keyframes animatedFadeIn {
  from {
    transform: translateX(20px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px);
    opacity:1
  }
}

@-webkit-keyframes animatedFadeIn {
  from {
    -webkit-transform: translateX(300px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    opacity:1
  }
}