@h1-font-size:3.77em;
@h2-font-size:2.11em;
@h3-font-size:1.55em;
@h4-font-size:1em;
@h1-font-color:#4799b6;
@headingLineHeight: 1.2em;
@regularLineHeight:1em;

html, body{
  height:100%;
}

body{
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;;
  background:white;
  color: #333333;
  font-weight:lighter;
  font-size:200%;
  overflow: hidden;
  font-size:36px;
  }

.main-container{
  height: 100%;
  width:100%;
  .padme(@sm-margin,@lg-margin);
}

.internal{
  height:inherit;
  width:inherit;
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.simple {
  line-height: @regularLineHeight;
  h1, h2, h3, h4, h5, h6{
    font-family: 'Bree Serif', Georgia, serif;
    line-height:@headingLineHeight;
    color:@h1-font-color;
    margin:0px;
    font-weight: lighter;
  }
  h1{
    font-size:@h1-font-size;
  }
  h2{
    font-size:@h2-font-size;
  }
  h3{
    font-size:@h3-font-size;
  }
  h4{
    font-size:@h4-font-size;
  }
  p{
    margin-top:0.5em;
    margin-bottom: 0.5em;
  }
}

.full-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  .caption {
    position:absolute;
    bottom: 0px;
    width:100%;
    background-image: none;
    background-color: rgba(0,0,0,0.5);
    .padme(@sm-margin,@lg-margin);
    color:#FFF;
  }
}

.full-height{
  height:100%;
}

.part-image{
  margin-top:0.5em;
  display: inline-block;
  img{
    max-width: 97.5%;  //Repalce with calc
    margin-left: auto;
    margin-right: auto;
    height:100%;
  }
}

.slide{
  overflow-y: hidden;
}

.align-center{
  text-align: center;
}

.part-text{
  margin-top:0.5em;
}

.control-bar{
  position: absolute;
  right: 0px;
  top: 30%;
  text-align: right;
}

.control-bar-left{
  position: absolute;
  left: 0px;
  top: 30%;
  text-align: left;
}

.image-button-left{
  position: absolute;
  right: 0px;
  top: 20%;
  margin-right: -20px;   //TODO check this
  border:none;
  &:active{
    top:20% !important;
    right: 1px;
    left:inherit !important;
  }
}

.image-button-right{
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: -20px;  //TODO check this
  border:none;
  &:active{
    top:0px;
    right: 1px;
    left:inherit !important;
  }
}

.image-buttons{
  visibility: none;
}

.edit .image-buttons{
  visibility: visible;
}

.nav-button{
  margin-top:4px;
  position:absolute;
  top:0px;
  opacity:0.5;
  &:active{
    opaciy:1;
  }
}

.nav-button-left{
  left:0px;
}

.nav-button-right{
  right:0px;
  &:active{
    left:inherit !important;
    right:1px;
  }
}

.button-lower-right{
  position:absolute;
  top: 4px;
  right:223px;         //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
/*
  &:hover{
    &:after{
      content:'Delete slide';
    }
  }
*/
  &:active{
    left:inherit !important;
    top: 5px !important;
    right:224px !important;
  }
}

.button-top-right{
  position:absolute;
  top: 4px;
  right:50px;           //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
/*
  &:hover{
    &:after{
      content:"Go to record mode";
    }
  }
*/
  &:active{
    left:inherit !important;
    top: 5px !important;
    right: 51px !important;
  }
}

.button-top-left-0{
  position:absolute;
  top: 4px;
  left:50px;           //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
  /*
    &:hover{
      &:after{
        content:"Go to record mode";
      }
    }
  */
  &:active{
    left: 49px !important;
    top: 5px !important;
    //    right: 51px !important;
  }
}

.button-top-left-1{
  position:absolute;
  top: 4px;
  left:105px;           //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
  /*
    &:hover{
      &:after{
        content:"Go to record mode";
      }
    }
  */
  &:active{
    left: 104px !important;
    top: 5px !important;
    //    right: 51px !important;
  }
}

.button-top-left-2{
  position:absolute;
  top: 4px;
  left:160px;           //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
  /*
    &:hover{
      &:after{
        content:"Go to record mode";
      }
    }
  */
  &:active{
    left: 159px !important;
    top: 5px !important;
    //    right: 51px !important;
  }
}

.button-bottom-left{
  position:absolute;
  top: 4px;
  left:104px;           //TODO
  border:none;
  *{
    vertical-align:baseline;
  }
  /*
    &:hover{
      &:after{
        content:"Go to record mode";
      }
    }
  */
  &:active{
    left: 103px !important;
    top: 5px !important;
    //    right: 51px !important;
  }
}

div[contenteditable=true], span[contenteditable=true] {
//  padding: 6px 12px;
//  font-size: 14px;
//  line-height: 1.428571429;
//  color: #555555;
//  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
//  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}

