.radial (@start-color, @end-color) {
  background: -moz-radial-gradient(center, circle cover, @start-color 0%, @end-color 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @start-color), color-stop(100%, @end-color));
  background: -webkit-radial-gradient(center, circle cover, @start-color 0%, @end-color 100%);
  background: -o-radial-gradient(center, circle cover, @start-color 0%, @end-color 100%);
  background: radial-gradient(center, circle cover, @start-color 0%, @end-color 100%);
}

.transitions(@transition-property, @time){
  -webkit-transition:@transition-property cubic-bezier(0.250, 0.460, 0.450, 0.940) @time;
  -moz-transition:@transition-property cubic-bezier(0.250, 0.460, 0.450, 0.940) @time;
  -o-transition:@transition-property cubic-bezier(0.250, 0.460, 0.450, 0.940) @time;
  transition:@transition-property cubic-bezier(0.250, 0.460, 0.450, 0.940) @time;
}

.font-properties(@font-size, @font-weight, @color,@h1-font-size,@h2-font-size,@h3-font-size,@h4-font-size){
  font-size: @font-size;
  font-weight: @font-weight;
  color: @color;
  h1 { font-size: @h1-font-size;}
  h2 { font-size: @h2-font-size;}
  h3 { font-size: @h3-font-size;}
  h4 { font-size: @h4-font-size;}
}
