@modal-header-height: 60px;
@modal-footer-height: 65px;
@modal-image-height: 200px;
@video-modal-height:540px;
@video-modal-width:960px;
@modal-width:@video-modal-width;
@modal-height:@video-modal-height;


.modal-header{
  font-size:small;
  input{
    width:70%;
  }
  input[type="file"]{
    display: inline-block;
    margin: 7px;
  }
}

.modal-content{
  border:none;
  border-radius:0px;
  .btn-close {
    position: absolute;
    right: -23px; //TODO replace with equation linked to FA font size
    top: -19px;
    background: none;
    border: none;
    z-index: 1050;
    font-size:36px;
  }
}

.modal-dialog{
  width:@modal-width;      //TODO replace with @media
}

.modal-body{
  padding:0px;
  height: @modal-height;   //TODO replace with @media
}

.edit.video-YT{
  .btn-close{
    color:#fed67f;
  }
}

.record.video-YT{
  .btn-close{
    color:#FFF;
  }
}



.nav-tabs.nav-justified>li{
  background-color:#EEE;
  &.active{
    background-color:#FFF;
  }
}