<div class="toolbar toolbar-left">
    <div ng-hide="played">
        <div class="color-green">
            <a ng-click="start()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-play"></i></div>
                <span class="tip"></span>
            </a>
        </div>
    </div>
    <div ng-hide="paused">
        <div class="color-green">
            <a ng-click="start()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-play"></i></div>
                <span class="tip"></span>
            </a>
        </div>
    </div>
    <div ng-show="paused">
        <div class="color-green">
            <a ng-click="resume()" class="btn-pop-out">
                <div class="toolbar-icon"><i class="fa fa-pause"></i></div>
                <span class="tip"></span>
            </a>
        </div>
    </div>
</div>
<div class="toolbar toolbar-right">
    <div class="color-red">
        <a ui-sref=create({}) class="btn-pop-out">
            <div class="toolbar-icon"><i class="fa fa-plus"></i></div>
            <span class="tip">Create a video </span>
        </a>
    </div>
</div>
<div class="full-height">
    <sokratik-dialogue presentation="presentation"  presentation-id="{{presentationId}}" class="full-height zoom-in"
                       add-fragment="addFragment(fragment)"/>
</div>
