.presentation {
  .playback {
    .btn-pop-out, .toolbar{
      z-index: 10001;
    }
    .toolbar-left{
      .btn-pop-out{
        &:hover{
          width: @left-toolbar-width;
        }
      }
    }
    .toolbar-right{
      .btn-pop-out{
        width:@left-toolbar-tooltip-width;
        .tip{
          right:30px;
        }
      }
    }
  }
  .brand-holder{
    z-index:1050;position:absolute;bottom:10px;right:5px;opacity:0.6;font-family:'Droid Sans';color:#252525;font-size:16px;
    a.sokratik-brand{
      font-family:'Open Sans';font-size:30px;color:#FFF;background-color:#f06060;padding:5px;border-radius:10px;
      text-decoration: none;
    }
  }
}
