<div class="slides">
    <section class="present">
        <h3>
            <sokratik-fragment type="text" model="fragment1"></sokratik-fragment>
        </h3>
        <div class="blackBoard">
            <div>
                <sokratik-fragment type="text" model="fragment2"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment3"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment4"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment5"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment5"></sokratik-fragment>
            </div>
        </div>
        <div class="mediaHolder">
            <div>
                <sokratik-media type="img" model="image" ng-click="open()">
                </sokratik-media>
            </div>
        </div>
    </section>
</div>