<span>

        <sokratik-fragment type="text" model="fragment1"/>
    </span>
<br/>
<br/>
jjjjjjj
<span>
        <sokratik-fragment type="text" model="fragment2"/>
    </span>

kkkk
<br/>

<span>
        <sokratik-fragment type="text" model="fragment3"/>
    </span>
<sokratik-media type="img" model="image"
                ng-click="open()">
    transcluded part
</sokratik-media>
<div>
    <sokratik-media type="YT" model="video" ng-click="open()">
        transcluded part
    </sokratik-media>
</div>

