<div class="slides">
    <section class="present">
        <h3>
            <sokratik-fragment type="text" model="fragment1"></sokratik-fragment>
        </h3>
        <div class="blackBoard">
            <div>
                <sokratik-fragment type="text" model="fragment2"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment3"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment4"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment5"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment6"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment7"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment8"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment9"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment10"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment11"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment12"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment13"></sokratik-fragment>
            </div>
            <div>
                <sokratik-fragment type="text" model="fragment14"></sokratik-fragment>
            </div>
        </div>
    </section>
</div>