template1 templateName variable {{ templateName }}
Editable Header follows
<hr/>
<br/>
<fragment-container>
    <div>
        <div sokratik-fragment="fragment1" fragment="template1/fragment.html" text="true"/>
    </div>
    <br/>
    <br/>
    jjjjjjj
    <div>
        <div sokratik-fragment="fragment2" fragment="template1/fragment2.html"/>
    </div>


    kkkk
    <br/>

    <div>
        <div sokratik-fragment="fragment3" fragment="template1/fragment3.html"/>
    </div>
</fragment-container>