<div ng-click="increaseImages()" class="image-add-top" tooltip="Add another image" tooltip-placement="right">
    <i class="fa fa-picture-o"></i>
</div>

<div class="image-youtube" ng-click="addVideo()" tooltip="Embed a youtube video" tooltip-placement="right">
    <i class="fa fa-youtube-square"></i>
</div>
<div class="edit full-height">
    <sokratik-dialogue presentation="presentation"
                       increase-images="increaseImages"
                       decrease-images="decreaseImages"></sokratik-dialogue>
</div>


<button class="btn nav-button nav-button-right btn-lg" ng-click="goToPage(page+1)" ng-show="page < (totalPages-1)">
    <b class="stretch"><i class="fa fa-caret-right fa-5x"></i></b></button><br/>
<button class="btn nav-button nav-button-right btn-lg" ng-click="add()" ng-show="page >= (totalPages-1)">
    <b class="stretch"><i class="fa fa-caret-right fa-5x"></i></b></button><br/>
<button class="btn nav-button nav-button-left btn-lg" ng-click="goToPage(page-1)" ng-show="page > 0 ">
    <b class="stretch"><i class="fa fa-caret-left fa-5x"></i></b></button>


<button class="btn button-delete" ng-click="remove()"><i class="fa fa-trash-o fa-4x"></i> Delete
    slide
</button>
<button class="btn btn-danger button-record" ng-click="record()"><i class="fa fa-circle fa-5x"></i>
    Go
    to record mode
</button>

<div ng-show="loading">
    <div class="spinner-backdrop" style="opacity:0.5"></div>
    <div id="spinner"></div>
</div>




