        <div class="modal-header">
            <button class="btn-close" ng-click="cancel()"><i class="fa fa-times-circle fa-2x"></i></button>
            <span>Enter image URL </span>&nbsp; &nbsp;<input type="text"
                                                                                       ng-model="selected.image"
                                                                                       ><br/>
            <span>Enter caption </span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
                                                                                                 ng-model="selected.caption"

                                                                                                 ui-keyup="{'enter':'storeImage($event)'}">
            <button class="btn btn-primary no-border" ng-click="ok(selected.image, selected.caption)">Ok</button>
        </div>
