<div class="no-padding modal-header">
    <button class="btn-close" ng-click="cancel()"><i class="fa fa-times-circle fa-2x"></i></button>
    <tabset justified="true">
        <tab heading="URL">
            <span class="input-label">Enter image URL </span>
            <input type="text" ng-model="selected.image"><br/>
        </tab>
        <tab heading="Upload">
            <sokratik-image-upload name="image" caption="selected.caption" url="selected.image"/>
        </tab>
    </tabset>
    <div class="padding-5">
        <span class="input-label">Enter caption </span>
        <input type="text"  ng-model="selected.caption" ui-keyup="{'enter':'storeImage($event)'}">
        <button class="btn btn-primary no-border" ng-click="ok(selected.image, selected.caption)">Ok</button>
    </div>
</div>