<!DOCTYPE html>
<html ng-app="sokratik.atelier" ng-controller="AppCtrl">
<head>
    <title>Sokratik</title>
    <!-- social media tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sokratikedu">
    <meta name="twitter:title" content="Sokratik, reimagining education in schools">
    <meta name="twitter:description"
          content="A place where teachers can teach students how to learn, students does real learning assess and reassess themselves with cutting edge technology and great content and engaging activities">
    <meta name="twitter:creator" content="@himangshuj">
    <meta name="twitter:image:src"
          content="https://s3-ap-southeast-1.amazonaws.com/qumran/philosopher_socrates_poster-r8c99ba6153be49bdb9e1350cfa86cd4d_7vls_8byvr_512.jpg">
    <meta name="twitter:domain" content="sokratik.com">

    <meta property="og:title" content="Sokratik, reimagining education in schools"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://sokratik.com"/>
    <meta property="og:image"
          content="https://s3-ap-southeast-1.amazonaws.com/qumran/philosopher_socrates_poster-r8c99ba6153be49bdb9e1350cfa86cd4d_7vls_8byvr_512.jpg846"/>
    <meta property="og:description" content="Changing the face of education">

<!--    &lt;!&ndash; font awesome from BootstrapCDN &ndash;&gt;
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    &lt;!&ndash;Loading Open Sans font&ndash;&gt;
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">-->


    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled CSS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

<!--    &lt;!&ndash; it's stupid to have to load it here, but this is for the +1 button &ndash;&gt;
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {
            "parsetags"
        :
            "explicit"
        }
    </script>-->
</head>
<body>

<div class="container" ui-view="main"></div>

</body>
</html>
